body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  background-size: cover;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: #4caf50;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  border-radius: 8px;
  background: #e0e0e0;
  font-size: 16px;
}
.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #666;
  font-size: 18px;
}

.avatar-section {
  margin-bottom: 20px;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-avatar {
  font-size: 40px;
  line-height: 96px;
}

.upload-label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  background-color: #ffffff;
  color: #838383;
  border-radius: 8px;
  padding: 5px 20px;
  cursor: pointer;
  cursor: pointer;
  gap: 6px;
}

.file-input {
  display: none;
}

.save-button {
  background: #002b64;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.save-button:hover {
  background: #004080;
}

.bi-pen-fill {
  color: #838383;
  font-size: 20px
}